h1 {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: white !important;
  box-shadow: none !important;
}

.main-menu {
  display: flex;
  gap: 10px;
}

.button {
  min-width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  cursor: pointer;
}

.logo {
  border: none;
}

.button-primary {
  color: white;
}

.text-field-with-button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 4px;
}

.main-search-field {
  width: 100%;
  min-width: 120px;
  max-width: 360px;
  flex-grow: 1;
}

.text-field {
  height: 40px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  font-family: inherit;
}

.link-button {
  text-decoration: none;
  color: black;
}
