.userForm {
  width: 60%;
  padding: 0.7%;
  min-height: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  &_control {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_box {
      display: flex;
      flex-direction: row;
      gap: 3%;
    }
    &_boxConnect {
      display: flex;
      flex-direction: row;
      gap: 1%;
      justify-content: center;
    }
  }
}
.userSignin {
  min-height: 400px;
}
