@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

// Variables
@import "./variables.colors.scss";

// Root
@import "../pages/_app.scss";

// Components
@import "../components/appBar/menuMaterials/menuCategoriesProduct.scss";
@import "../components/utils/carousel/carousel.scss";
@import "../components/home/testimonials.scss";

/* fonts */
/* A utiliser pour le body */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

/* A utiliser pour les titres */
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 700;
}
