$darkBlueColor: #152535; // dark blue
$lightGreyColor: #f8f8f8; // light grey
$orangeColor: #ff8e3c; // orange
$lightRedColor: #fbf5f5; // light red
$lightBlueColor: #6c96ff; // light blue
$hoverLightBlueColor: #001f6c; // hover light blue
$whiteColor: #ffffff; // white
$blackColor: #000000; // black
$successColor: #4caf50; // green
$errorColor: #f44336; // red
