.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;

  p {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: $color3;
  }
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: $color4 transparent $color3 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
