.testimonials-container{
  padding : 2rem 12%;
  background-color: #FFE8D8;
  height: auto;
  .react-multi-carousel-item {
    margin:1rem;
  }
  .testimonials-carousel {
    &-container{
      padding-left: 0rem;
      height: 450px;
    }
  
    .react-multiple-carousel__arrow {
      min-width: 2rem;
      min-height: 2rem;
  
        &.react-multiple-carousel__arrow--left {
          left: 0%;
         transform: translateX(15%);
        }
        &.react-multiple-carousel__arrow--right {
          right: 4rem;
          transform: translateX(120%);
        }
      background-color: $orangeColor;
  
      &:before {
        font-size: 1rem;
     
      }
      &:hover {
        background-color: $whiteColor;
        box-shadow: inset 0 0 2px $orangeColor;
      }
  
      &:hover::before {
        color: $orangeColor;
      }
    }
  
   .react-multi-carousel-list {
      width:80%;
     }
  
    .react-multi-carousel-dot--active >button { 
      background-color: orange;
      }
  
  }
  

}

@media screen and (max-width: 599px) {
  .testimonials-carousel {
    height: 350px;

    .react-multi-carousel-item {
      scale: 0.8;
      gap:1rem;
    }

    &.carousel-hero {
      .react-multiple-carousel__arrow {
        bottom: 0px;
        &.react-multiple-carousel__arrow--left {
          left: 50%;
          transform: translateX(-110%);
        }
        &.react-multiple-carousel__arrow--right {
          right: 50%;
          transform: translateX(110%);
        }
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .testimonials-carousel {
    &.carousel-hero {
      .react-multi-carousel-item {
        display: flex;
        justify-content: center;
      }
     }
   }
}
