.carousel-container {
  height: 450px;

  .react-multiple-carousel__arrow {
    min-width: 2rem;
    min-height: 2rem;
    background-color: $orangeColor;

    &:before {
      font-size: 1rem;
    }

    &:hover {
      background-color: $whiteColor;
      box-shadow: inset 0 0 2px $orangeColor;
    }

    &:hover::before {
      color: $orangeColor;
    }
  }

  &.carousel-hero {
    .react-multiple-carousel__arrow {
      bottom: 20px;

      &.react-multiple-carousel__arrow--left {
        left: 0;
      }

      &.react-multiple-carousel__arrow--right {
        right: calc(100% - 4.5rem);
      }
    }
  }
  &.carousel-top-locations {
    .react-multi-carousel-item {
      display: flex;
      justify-content: center;
    }
    .react-multiple-carousel__arrow {
      bottom: 0;

      &.react-multiple-carousel__arrow--left {
        left: 50%;
        transform: translateX(-110%);
      }
      &.react-multiple-carousel__arrow--right {
        right: 50%;
        transform: translateX(110%);
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .carousel-container {
    height: 350px;

    .react-multi-carousel-item {
      scale: 0.8;
    }

    &.carousel-hero {
      .react-multiple-carousel__arrow {
        bottom: 0px;
        &.react-multiple-carousel__arrow--left {
          left: 50%;
          transform: translateX(-110%);
        }
        &.react-multiple-carousel__arrow--right {
          right: 50%;
          transform: translateX(110%);
        }
      }
    }

    &.carousel-top-locations {
      .react-multi-carousel-item {
        display: flex;
        justify-content: start;
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .carousel-container {
    &.carousel-hero {
      .react-multi-carousel-item {
        display: flex;
        justify-content: center;
      }

      .react-multiple-carousel__arrow {
        bottom: 0px;

        &.react-multiple-carousel__arrow--left {
          left: 50%;
          transform: translateX(-110%);
        }

        &.react-multiple-carousel__arrow--right {
          right: 50%;
          transform: translateX(110%);
        }
      }
    }
  }
}
